/************
 * Pathbars *
 ************/
.path-bar button {
  &.text-button, &.image-button, & {
    padding-left: 4px;
    padding-right: 4px;
  }

  &.text-button.image-button label {
    padding-left: 0;
    padding-right: 0;
  }

  &.text-button.image-button, & {
    label:last-child { padding-right: 8px; }
    label:first-child { padding-left: 8px; }
  }

  image {
    padding-left: 4px;
    padding-right: 4px;
  }

  &.slider-button {
    padding-left: 0;
    padding-right: 0;
  }
}

.pathbar button { &, &:backdrop { @include button(undecorated); }}

// Nautilus, filechooser(gnome 47) pathbar
#NautilusPathBar {
  @include button(normal-header);

  .dim-label {
    color: transparent;
    margin-right: -5px;
  }

  //Buttons before current path
  button {
    .horizontal > .dim-label {
      color: $headerbar_fg_color;
      padding: 3px 12px;
      margin: 0;
      border-right: 1px solid $borders_color;
    }
    &:hover, &:focus {
      .dim-label { background-color: lighten($headerbar_color, 15%); }
    }
  }
  
  // Home icon
  button > .horizontal > image.dim-label { 
    padding: 3px 0px 3px 12px; 
    border-right: none;
    margin-right: -6px;
    border-radius: 6px 0px 0px 6px;
  }

  // Reset path buttons appearance
  button {
    background: transparent;
    border: none;
    margin: 0;
    padding: 0;
  }

  // Current directory options button
  .flat.popup {
    margin: 0;
    button {
      padding: 4px 6px;
      border-radius: 0px 6px 6px 0px;
      &:hover, &:active, &:checked {
        @include button(hover-header, $selected_bg_color, $selected_fg_color);
      }
    }
  }

  // Selected dir
  .current-dir  {
    
    label { 
      @include button(active-header); 
      padding: 1px 12px;
    }

    image { 
      background:
      linear-gradient(to  right, #f8ab95, #f8ab95)
      left 
      bottom
      lighten($_sidebar_color, 7%)
      no-repeat; 
      background-size: 100% 1.5px;
    }
  }

  button.current-dir:only-child {
    image {
      margin-right: -6px;
      padding: 0px 0px 0px 12px;
      border-radius: 6px 0px 0px 6px;
    }
  }
}

// search entry
#NautilusQueryEditor { 
  > menubutton > button {
    @include button(undecorated);
    -gtk-icon-size: 12px;
    padding: 0 2px;
    image {
      color: $selected_fg_color;
    }
  }

  > text, > image { margin: 0; }
}