/***********
 * Sidebar *
 ***********/
 .sidebar {
  border-style: none;
  border-width: 0;
  background-color: mix($bg_color, $base_color, 50%);

  .frame{
    border: none;
  }

  @at-root %sidebar_left,
  &:dir(ltr),
  &.left,
  &.left:dir(rtl) {
    border-right: none;
    border-left-style: none;
  }

  @at-root %sidebar_right
  &:dir(rtl),
  &.right {
    border-left: 1px solid $borders_color;
    border-right-style: none;
  }

  &:backdrop {
    background-color: $backdrop_sidebar_bg_color;
    border-color: $backdrop_borders_color;
  }

  row{
    padding: 8px 12px;
    transition: all .12s ease-in;
    label{
      color: #98abb2;
    }
    &:selected{
      color: $selected_fg_color;
      // border-left: 4px solid $selected_bg_color;
      &:backdrop{
        color: $backdrop_selected_fg_color;
        background: $backdrop_selected_bg_color;
        label{
          color: $selected_fg_color;
        }  
      }
      &:hover{
        // background-color: transparentize($selected_bg_color, 0.8);
      }
      label{
        color: $selected_fg_color;
      }
    }
  }

    //elementary os file manager
    &.source-list{
      background: $_sidebar_color;
      padding: 4px 0px;
      &.view{
        transition: all .12s ease-in;
        &:selected {
          padding-left: 4px;
          background: $selected_bg_color;
          color: $selected_fg_color;
          
          &:active { box-shadow: inset 0 2px 3px -1px transparentize(black, 0.5); }
    
          &.has-open-popup,
          &:hover { background-color: transparentize($selected_bg_color, 0.1); }
    
          &:backdrop { background-color: $backdrop_selected_bg_color; }
        }
        &:hover, iconview.source-list:hover { 
            background-color: if(variant == light, transparentize($bg_color, 0.6), transparentize($bg_color, 0.6)); 
        }
      }
    }
    

  paned & { &.left, &.right, &.left:dir(rtl), &:dir(rtl), &:dir(ltr), & {
    border-style: none;
    border-color: $borders_color;
  }
}
}

stacksidebar {
  &.sidebar {
    &:dir(ltr),
    &.left,
    &.left:dir(rtl) { list { @extend %sidebar_left; }}

    &:dir(rtl),
    &.right { list { @extend %sidebar_right; }}
  }

  row {
    padding: 10px 4px;

    > label {
      padding-left: 6px;
      padding-right: 6px;
    }

    &.needs-attention > label {
      @extend %needs_attention;

      background-size: 6px 6px, 0 0;
    }
  }
}

/*******************************************************************/
/*                  PLACESSIDEBAR                                  */
/*******************************************************************/

placessidebar.sidebar, .nautilus-window .navigation-sidebar {
  background-color: $_sidebar_color;
		row {
			&.sidebar-row {
        border-radius: 5px;
        padding: 1px 11px;
        label { padding-left: 8px; }
        
				&.sidebar-row {
					.sidebar-icon {
						margin-left:-14px;
						margin-right: 7px;
						padding-left: 14px;
						padding-right: 7px;
						color: #98abb2;
					}
				}

				&:hover {
					background: lighten($_sidebar_color, 7%);
				}

				&:selected {
          border-left: 2px solid #f8ab95;
          &, & label { color: $selected_fg_color; }
          &, &:backdrop {
            background:linear-gradient(to right,#f8ab95, #ee73c8,
            lighten($_sidebar_color, 7%) 40px,  lighten($_sidebar_color, 7%) 97%);
          }
			
          &:backdrop {
            &, & label { color:$backdrop_selected_fg_color; }
            .sidebar-icon {
              -gtk-icon-shadow: none;  
            }
          }

					.sidebar-icon {
						-gtk-icon-shadow: 0 1px transparentize(#fff, 0.2);
						color: inherit; 
					}
        }
        
        &.sidebar-new-bookmark-row { 
          &, label, .sidebar-icon {
            color: $yellow; 
          }
        }

        &:drop(active):not(:disabled) {
          &, label, image { color: $drop_target_color; }
    
          box-shadow: inset 0 1px $drop_target_color,
                      inset 0 -1px $drop_target_color;
    
          &:selected {
            &, label, image { color: $selected_fg_color; }
            background: $drop_target_color;
          }
        }
			}
		}
  
	list { &, &:backdrop { background-color: $_sidebar_color; } }
  
}

// Gnome 46: File operations status bar at the bottom of sidebar
.bottom-bar  {
  background-color: $_sidebar_color;
  button {
    background-color: transparent;
    border-radius: 0px;
    border: none;
    .view { background-color: transparent; }
  }
}