
/* thunar */
.thunar toolbar { background-color: $headerbar_color; }
  
/* buttons in toolbar */
.thunar toolbar.horizontal button image {
    -gtk-icon-transform:scale(0.72);
}

  
/* path-bar of thunar */
window.thunar toolbar#location-toolbar > toolitem > widget > widget.linked.path-bar {
    .path-bar-button {
        @include button(normal-header);
        border-radius: 0;
        border-right: 0.5px solid $borders_color;
        box-shadow: none;
        min-height: 20px;
        padding: 3px 4px;
        &:first-child {
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
        }

        &:last-child {
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
            border-right-style: solid;
        }

        &:only-child {
            border-radius: 4px;
            border-style: solid;
        }
        &:hover { color: $selected_bg_color; }
        &:checked { @include button(active, transparentize($selected_bg_color, 0.3), #fff); }
    }
    .toggle.path-bar-button:hover {
        @include button(active, transparentize($selected_bg_color, 0.3), #fff);
    }
}
  
/* thunar sidepane */
.thunar scrolledwindow.sidebar treeview.view {
    background: darken($_sidebar_color, 2%);
    padding: 1.5px;
    &:hover,  &:selected {
          background:
        linear-gradient(to bottom, #f8ab95, #ee73c8)
        left 
        bottom
       lighten($_sidebar_color, 7%)
        no-repeat; 
         background-size: 2px 100%; 
    }
}